/* ==================Footer============================ */

.footer {
   background-color: var(--color-bg1);
   margin-top: 4rem;
}

.footer_container {
   padding: 5rem 0 4rem;
   display: grid;
   gap: 5rem;
   grid-template-columns: repeat(4, 1fr);
}

.footer h4 {
   margin-bottom: 2rem;
}


.links li {
   margin-bottom: 1rem;
   font-size: 1.3rem;
}

.footer a:hover {
   color: var(--color-primary)
}

.contacts {
   margin-bottom: 2.5rem;
}

.contacts li {
   font-size: 1.3rem;

}

.social_links {
   font-size: 1.7rem;
}

.social_links li {
   display: inline-block;
   margin-right: 1.5rem;
}

.footer_copyright {
   border-top: 1px solid var(--color-bg2);
   font-size: 1.3rem;
   text-align: center;
   padding: 2rem 0;
}

@media screen and (max-width:1074px) {

   .footer_container {
      gap: 4rem;
   }

   .social_links li {
      display: inline-block;
      margin-right: 1.1rem;
   }
}

@media screen and (max-width: 630px) {

   .footer_container {
      padding: 4rem 0 3rem;
      text-align: center;
      gap: 2rem;
      grid-template-columns: 1fr;
   }

   .links {
      margin: 1.5rem 0;
   }

   .footer h4 {
      margin-bottom: 1rem;
   }


}