@import url("./navBar.css");
@import url("./footer.css");

/* ======================== Header ======================= */

.title-block {


   position: relative;
   top: 8rem;
   overflow: hidden;
   height: 70vh;

   margin-bottom: 8rem;

   background-image: url("../../images/title-bg-transparent.jpg");


}

.title-block_container {

   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   gap: 6rem;
   height: 100%;

}

.title-block_left p {
   margin: 2rem 0 3.45em 0;
   font-style: italic;
   font-size: 2.3rem;
   color: var(--color-white);
}

.title-block_left {
   z-index: 1;
}

.title-block__bg-blur {
   z-index: 0;
   position: absolute;
   backdrop-filter: blur(2px);
   background-color: rgba(112, 112, 112, 0.27);
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

.title-block_right {

   overflow: hidden;
   width: fit-content;
   position: relative;
   background-color: var(--color-bg2);
   padding: 3rem;
   border: 1px solid transparent;
   border-radius: var(--border-radius-2);
   transition: var(--transition);
}

.title-block_right:hover {
   background-color: transparent;
   border: 1px solid var(--color-primary);
   box-shadow: var(--box-shadow-card);
   transform: scale(1.04);
}

.title-block_right:hover img {
   filter: saturate(1);
   transform: scale(1.07);
}

.title-block__img img {
   filter: saturate(0);
   width: 32rem;
   border-radius: 1rem;
   transition: var(--transition);
}

.title-block_right__socials {
   position: absolute;
   padding: 0.7rem 0;
   transition: var(--transition);
   top: 50%;
   transform: translateY(-50%);
   right: -100%;
   display: flex;
   flex-direction: column;
   background-color: var(--color-primary);
   border-radius: 1.5rem 0 0 1.5rem;
   box-shadow: -2rem 0 3rem rgba(0, 0, 0, 0.3);
}

.title-block_right__socials a {
   padding: 1.5rem;
   font-size: 1.6rem;
}

.title-block_right__socials a i:hover {
   color: var(--color-bg1);
}

.title-block_right:hover .title-block_right__socials {
   right: 0;
}


/* ===================== Categories ===================== */

.categories {
   background-color: var(--color-bg1);
   height: 50rem;
}

.categories h1 {
   line-height: 1;
   margin-bottom: 4.8rem;
}

.category_container {
   display: grid;
   grid-template-columns: 35% auto;

}

.categories_left {
   margin-right: 5rem;
}

.categories_left p {
   margin: 1rem 0 4rem;

}

.categories_right {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
}

.category {
   background-color: var(--color-bg2);
   padding: 3rem;
   border-radius: var(--border-radius-3);
   transition: var(--transition);

}

.category:hover {
   cursor: pointer;
   transform: scale(1.02);
   box-shadow: var(--box-shadow-card);
   z-index: 1;
}

.category:nth-child(2) .category_icon {
   background-color: var(--color-danger-variant);
}

.category:nth-child(3) .category_icon {
   background-color: var(--color-success);
}

.category:nth-child(4) .category_icon {
   background-color: var(--color-warning);
}

.category:nth-child(5) .category_icon {
   background-color: var(--color-success);
}

.category_icon {
   background-color: var(--color-primary);
   border-radius: 1rem;
}

.category_icon img {
   width: 5rem;
   padding: 0.5rem;
   background-color: inherit;

}

.category h5 {
   margin: 2.8rem 0 1.6rem;
}

.category p {
   font-size: 1.5rem;
}


/* ==================  Popular Courses ================== */

.courses {
   margin-top: 15rem;
}

.courses_container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
   gap: 3rem;
}

.course {
   padding-bottom: 2rem;
   background-color: var(--color-bg1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

   border: 1px solid transparent;
   transition: var(--transition);
}

.course .btn {
   max-width: 80%;



}


.course:hover {
   transform: scale(1.01);
   cursor: pointer;
   background-color: transparent;
   border-color: var(--color-primary);
}

.course_info {
   text-align: center;
   padding: 3rem;
   height: 100%;
}

.course_info p {
   margin: 2rem 0 3rem;
}

/* ================= FAQs================= */

.faqs {
   background-color: var(--color-bg1);
   box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.faqs_container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1.7rem;
}

.faq {
   border-radius: 0.6rem;
   padding: 3rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   height: fit-content;
   background-color: var(--color-primary);
   cursor: pointer;
   transition: var(--transition);
}

.faq:hover {
   transform: scale(1.01);
   opacity: 0.8;
}

.faq h4 {
   font-size: 1.8rem;
   line-height: 2.2;
}

.faq_icon {
   align-self: flex-start;
   font-size: 2.4rem;
}

.faq p {
   margin-top: 1.3rem;
   display: none;
}

.faq.open p {
   display: block;
}

/* ============Testimonials==================== */

.testimonials {
   overflow-x: hidden;
   position: relative;
   margin-top: 5rem;
   margin-bottom: 8rem;
}

.testimonial {
   padding-top: 3rem;
   margin-bottom: 8rem;
}

.avatar {
   width: 9.5rem;
   height: 9.5rem;
   border-radius: 50%;
   margin: 0 auto 1.6rem;
   border: 1rem solid var(--color-bg1);
}

.testimonial_info {
   text-align: center;
}

.testimonial_content {
   background-color: var(--color-primary);
   padding: 2rem;
   margin-top: 4.5rem;
   position: relative;
}

.testimonial_content::before {
   content: "";
   display: block;
   background: linear-gradient(135deg,
         transparent,
         var(--color-primary),
         var(--color-primary), var(--color-primary));
   width: 4.6rem;
   height: 4.6rem;
   position: absolute;
   left: 50%;
   /* transform: ; */
   top: -2.3rem;
   transform: rotate(45deg) translate(-50%, 50%);
}



/* ================= Media Queries(tab) =================== */

@media screen and (max-width:1484px) {
   .container {
      width: var(--container-width-md);
   }

}

@media screen and (max-width:1104px) {

   html {
      font-size: 9px;
   }

   section {
      padding: 8rem 0;
   }

   h1 {
      font-size: 3.5rem;
   }

   h2 {
      font-size: 3rem;
   }

   h3 {
      font-size: 2.2rem;
   }

   h4 {
      font-size: 1.9rem;
   }

   h5 {
      font-size: 1.6rem;
   }


   /* ======================= Title block ======================== */
   .title-block {
      height: 54vh;
      margin-bottom: 6rem;
   }

   .title-block_container {
      gap: 1.5rem;
      padding-bottom: 4rem;
   }

   /* ================ Categories ======================= */

   .categories {
      height: auto;
   }

   .category_container {
      grid-template-columns: 1fr;
      gap: 4rem;
   }

   .categories_right {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      gap: 1.6rem;
   }

   .categories_left {
      margin-right: 0;
   }

   /* =============Courses ================= */

   .courses {
      margin-top: 0;
   }

   /* ========================= FAQ ==================== */

   .faqs_container {

      grid-template-columns: repeat(auto-fit, minmax(44rem, 1fr));
      gap: 1.7rem;
   }

   .faq {
      padding: 2rem;
   }

}

/* ========================== Media Queries Phone =========== */

@media screen and (max-width: 736px) {

   .title-block_container {
      gap: 1.5rem;
      padding-bottom: 4rem;
   }

   .title-block__img img {
      width: 28rem;
   }

}


@media screen and (max-width: 630px) {

   section {
      padding: 7rem 0;
   }

   .container {
      width: var(--container-width-sm);
   }


   /* ======================Title Block ===================== */

   .title-block {
      height: auto;
   }

   .title-block_container {
      grid-template-columns: 1fr;
      text-align: center;
   }

   .title-block_left {
      margin-bottom: 2.5rem;
   }

   .title-block_left p {
      margin-bottom: 1.5rem;

   }

   .title-block_right {}

   .title-block__img img {
      max-width: 34rem;
   }



   /* ===================== Categories======================= */

   /* .categories_right {

      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;
   } */

   .category {
      padding: 3rem 1.2rem 1.4rem;
      border-radius: 1.5rem;
   }


   /* ==========================Testimonials ================== */

   .testimonials {
      margin-top: 4rem;
      margin-bottom: 6rem;
   }

   .testimonials h2 {
      margin-bottom: 3rem;
   }

   .testimonial_content {
      padding: 1.4rem;
   }

   /* ======================FAQ================== */
   .faqs_container {

      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
      gap: 1.7rem;
   }

}